* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    /* width: 100%; */
}

header {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}


.hero-text {
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 150px 50px;  
    color: #fff;
}

.hero-text h4 {
    font-family: 'roboto' sans-serif;
    font-size: 3.75rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    /* padding-top: 120px; */
}

.hero-text h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-weight: 700;
    margin: 0;
}

.line {
    height: 11px;
    transform-origin: left center;
    margin: 30px auto 0 0;
    stroke: none;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #fff;
    border: 11px solid;
    width: 40%;
}

.hero-icon {
    display: flex;
    max-width: 100%;
    margin-top: 5%;
    flex-direction: row;
}

.hero-icon img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 10%;
}

.hero-icon img h5 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
    line-height: 1.2;
}

.hero-icon-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-icon-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-icon-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section {
    color: #111111;
    background-color: #f2f2f2;
    text-align: center;
}

.about-section .section-about {
    min-height: 536px; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about-section .section-about h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 130px 490px 0;
    padding: 0;
    color: #999999;
}

.about-section .section-about h1 {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 20px auto 0;
    line-height: 1.1;
}


.about-section .section-about p{
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
    color: rgb(116, 110, 110);
}

.about-section .section-about a {
    color: #ffffff ;
    background-color: #e71a23;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    /* border-style: solid; */
    margin: 30px auto 60px;
    padding: 16px 36px;
}

.about-section .section-about .btn {
    text-decoration: none;
    text-align: center;
    /* padding: 10px 30px; */
    border-radius: 0;
    align-self: flex-start;
}


.need-help {
    color: #111111;
    background-color: #fff;
    text-align: center;
}

.help-need {
    min-height: 682px;
    justify-content: center;
    display: flex;
    padding: 100px;
    align-items: center;
}

.help-1 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;

}


.help-1 {
    width: 50%;
    height: 50%;
}


.help-1 p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding: 0 50px;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    font-style: 'Open-Sans', Sans-serif;
}

.help-2 {
    width: 50%;
    height: 50%;
    padding-left: 30px;
}

.help-2 {
    text-align: left;
}

.help-2-text {
    display: flex;
    flex-direction: column;
}

.help-2 h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.help-2 h3 {
    font-size: 1.875rem;
    margin: 20px 1px 0;
    color: #e71a23;
    line-height: 1.2;
    font-family: 'Roboto', Sans-serif;
    margin-bottom: 30px;
}

.best-quality {
    background-image: url(../images/setion5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    height: 50%;
    width: 100%;
}

.best-quality-img {
    padding: 0 60px;
    max-width: 100%;
    margin-left: 40px;
}

.best-quality-img img {
    width: 500px;
    height: 100%;
}

 .best-quality-text {
    margin-right: 50px; 
    align-items: center;
    margin-top: 40px;
    
}

 
.best-quality-text h2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 135px 0 0;
    color: #104e92;

}

.best-quality-text .line {
     height: 5px;
     transform-origin: left center;
     margin: 30px auto 0 0;
     /* border-color: #e71a23; */
     border: 6px solid #e71a23;
     width: 90%;
     align-items: center;
}


.best-quality-text p {
    font-size: 1.25rem;
    margin: 30px 0 0;
    text-align: left;
    line-height: 1.6;
    color: #111111;
    padding-right: 100px;
    margin-top: 50px;
    word-wrap: break-word;
    margin-bottom: 50px;
} 


.best-quality-text a {
    color: #ffffff ;
    background-color: #e71a23;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    /* border-style: solid; */
    margin: 30px auto 60px;
    padding: 16px 36px;
}

.best-quality-text .btn {
    text-decoration: none;
    text-align: center;
    /* padding: 10px 30px; */
    border-radius: 0;
    align-self: flex-start;
}

.services {
    color: #111111;
    background-color: #fff;
    /* text-align: center;  */
}

.service-text {
    margin: 60px 831px 0 0;
}


.icons {
    display: flex;
    padding: 0 70px;
}

.icon-1 {
    text-align: left;
    padding: 30px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.icon-1 span {
    height: 83px;
    width: 83px;
    background-image: none;
    margin: 0 256px 0 0;
    padding: 18px;
    color: #ffffff;
    background-color: #e71a23;
    border-radius: 200px;
}

.icon-1 span img {
    padding: 4px;
}

.icon-1 h4 {
    font-weight: 700;
    margin: 20px 0 0;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: left;   
}

.icon-1 p {
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
    color: #111111;
    padding-bottom: 15px;
}


.works {
    color: #ffffff;
    background-color: #104e92;
    text-align: center;
    display: flex;
}

.work-section {
    display: flex;
    flex-direction: row;
    min-height: 582px;
    justify-content: center;
}

.work-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.work-text h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: left;
    padding-left: 150px;
}

.work-text h3 {
    font-size: 6rem;
    line-height: 1;
    margin: 10px 0 0;
    font-weight: 400;
    /* padding-left: 100px; */
}

.work-section-img {
    display: flex;
    flex-direction: row;
    flex: 0 0 48.33333333%;
    padding: 30px;
    margin-right: 20px;
}

.work-img {
    flex-direction: row;
    padding-right: 20px;
    padding-bottom: 20px;
}

.work-img img {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
    min-height: 222px;
    /* background-image: url(//images03.nicepage.com/c461c07…/840fd2a…/frg.jpg); */
    background-position: 50% 50%;
    padding-top: 20px;
}

.section-todo {
    min-height: 454px;
    margin: 0 auto;
    width: 726px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-text {
    min-height: 302px;
    text-align: center;
    margin-left: 0px;
    margin-top: 100px
}

.section-todo .todo-text h2 {
    font-weight: 700;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1.1;
    text-align: center;
}

.section-todo .todo-text p {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 30px 0 0;
}

.todo-btn {
    flex: 30 0 50%;
    min-height: fit-content;
    max-width: 100%;
    display: flex;

}

.todo-btn-1 {
    min-height: 64px;
    padding-top: 0;
    padding-left: 7px;
    justify-content: center;
}

.todo-btn-1 a {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #e71a23 !important;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 0 0 0 auto;
    padding: 16px 36px;
    margin-right: 3px;
}

.todo-btn-2 a {
    text-decoration: none;
    /* color: #ffffff !important;
    background-color: #e71a23 !important; */
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border: 1px solid;
    margin: 0 0 0 auto;
    padding: 16px 36px;
    border-color: #454545;
    color: #454545;
    background-color: transparent;
}

@media(max-width: 768px) { 
    .hero-text {
        padding: 150px 50px;
    }

    .hero-text h4 {
        font-size: 2rem;
    }

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text .line {
        border: 8px solid;
        width: 70%;
    }

    .hero-icon img {
        width: 90px;
    }

    .about-section .section-about h5 {
        margin: 100px 40px 0;
        padding-top: 40px;
    }

    .about-section .section-about h1 {
        font-size: 3rem;
    }

    .about-section .section-about p {
        width: 700px
    }

    .help-need {
        padding: 90px;
        display: flex;
        flex-direction: column;
    }

    .help-1 {
        width: 100%;
    }

    .help-1 p {
        font-size: 1.6rem;
    }

    .help-2 {
        width: 100%;
    }

    .help-2 {
        text-align: center;
    }

    .best-quality-img {
        padding: 0 30px;
        margin-left: 20px;
    }

    .best-quality-img img {
        width: 400px;
    }

    .best-quality-text {
        margin-right: 30px;
        padding-left: 0;
        padding-top: 20px;
    }

    .best-quality-text h2 {
        font-size: 3rem;
        margin: 0;
    }

    .best-quality.text .line {
        border: 4px solid #e71a23;
    }

    .best-quality-text p {
        padding-right: 0.5px;
    }

    .icons {
        padding: 0 25px;
        text-align: center;
        flex-direction: column;
    }

    .icon-1 {
        padding: 10px;
    }
    .icon-1 p {
        margin: 0;
        
    }

    .service-text {
        padding-left: 30px;
    }


    .work-section {
        display: flex;
        flex-direction: column;
    }

    .work-text {
        padding: 0 55px;
        padding-top: 10px;
    }

    .work-text h6 {
        margin-top: 20px;
        text-align: left;
        padding-left: 0;
    }

    .work-text h3 {
        font-size: 3rem;
        text-align: left;
    }

    .work-section-img {
        padding: 20px 50px;
    }

} 


@media(max-width: 375px) {
    /* body {
        width: 300px;
    } */
   .hero-text {
       padding-top: 100px;
       background-position: 81.49% 50%;
       padding: 80px 0;
   }

   .hero-text h4 {
    font-family: 'roboto' sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 300px;
   }

   .hero-text h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: "Archivo Black";
      font-weight: 700;
      margin: 0;
   }

   .line {
    height: 5px;
    transform-origin: left center;
    margin: 15px auto 0 0;
    stroke: none;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #fff;
    border: 5px solid;
    width: 60%;
  }

  .hero-icon {
      display: none;
  }

  .about-section .section-about h5 {
    margin-left: 60px;
    margin-right: 90px;
    margin-top: 70px;
  }

  .about-section .section-about h1 {
    width: 340px;
    font-weight: 700;
    font-size: 3.125rem;
    /* margin: 20px auto 0; */
    padding-right: 10px;
  }

  .about-section .section-about p {
    width: 300px;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 30px auto 0;
    text-align: center;
  }

  .help-need {
    min-height: 244px;
    width: 300px;
    flex-direction: column;
    padding: 30px 100px;
    margin-left: 10px;
  } 

  .help-need .help-1 img {
      width: 90%;
  }
  
  .help-need .help-1 {
     min-height: 100%;
     width: 300px;
     padding-left: 2px;
  }

  .help-need .help-1 p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding: 0 2px;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
  }

    .help-need .help-2 {
        min-height: 100%;
        width: 300px;
        padding-left: 2px;
        text-align: left;
    }

    .help-need .help-2 h2 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .help-need .help-2 h3 {
        font-size: 1rem;
    }

    .help-need .help-2 img {
        width: 90%;
    }

    .best-quality {
        flex-direction: column;
        padding-left: 0;
        padding-right: 10px;
    }

    .best-quality-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-left: 0;
    }

    .best-quality-img img {
        width: 250px;
        height: 100%;
    }

    .best-quality-text {
        margin-top: 15px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        margin-right: 0;
    }

    .best-quality-text .line {
        margin-top: 5px;
        width: 90%;
        margin-bottom: 3px;
    }

    .best-quality-text h2 {
        font-size: 2rem;
        margin: 5px 0 0;
    }

    .best-quality-text p {
        font-size: 1.3rem;
        margin: 0;
        padding-right: 0;
    }

  .service-text h1 {
      padding-left: 3px;
      margin-bottom: 4px;
  }

   .icons {
       display: block;
       padding: 5px 5px;
   }

    .icon-1 {
        max-width: 100%;
        padding: 0 15px;
    }

    .icon-1 p {
        font-size: 1.2rem;
    }

    .work-section {
        display: flex;
        flex-direction: column;
        min-height: 582px;
        justify-content: center;
    }
    
    .work-text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        padding-left: 10px;
    }
    
    .work-text h6 {
        padding-top: 40px;
    }
    
    .work-text h3 {
        font-size: 4rem;
    }
    
    .work-section-img {
        display: flex;
        padding: 30px;
        flex-wrap: wrap;
    }
    
    .work-img {
        flex-direction: row;
        padding-right: 20px;
        padding-bottom: 0;
    }
    
 
    .section-todo {
        width: 300px;
        margin-top: 15px;
        margin: 0 10px;
    }

    .todo-text {
        margin-top: 30px;
    }

    .section-todo .todo-text h2 {
        font-size: 1.7rem;
    }

    .section-todo .todo-text p {
        font-size: 1.6rem;
    }

    .todo-btn  {
        flex-direction: column;
        /* padding-bottom: ; */
    }

    .todo-btn-2 {
        padding-left: 17px;
    }

}



